---
user: "vagrant"
group: "vagrant"

user_name: "Your Name"
user_email: "you@example.com"

git_update: no
git_depth: 1

go_download_dir: "/home/vagrant/tmp"

#download_cache_dir: "/home/vagrant/tmp"
#build_dir: "/home/vagrant/build"

ruby_cppflags: "-DRUBY_DEBUG_ENV -DARRAY_DEBUG"
#ruby_cppflags: "-DRUBY_DEBUG_ENV -DARRAY_DEBUG -DSHARABLE_MIDDLE_SUBSTRING=1"
