#!/bin/bash
set -euo pipefail
cd "$(dirname "$0")"
NADOKA_HOME="$(pwd)"
export NADOKA_HOME
cd
WC_DIR="$(pwd)/wc"
export WC_DIR
if [ ! -d "$WC_DIR" ]; then
    mkdir "$WC_DIR"
fi
if [ ! -d "$WC_DIR/nadoka" ]; then
    git clone https://github.com/nadoka/nadoka.git "$WC_DIR/nadoka"
else
    (cd "$WC_DIR/nadoka" && git pull)
fi
if [ ! -d "$WC_DIR/fprog-nadoka-plugins-trunk" ]; then
    svn co http://www.fprog.org/svn/nadoka-plugins/trunk "$WC_DIR/fprog-nadoka-plugins-trunk"
else
    (cd "$WC_DIR/fprog-nadoka-plugins-trunk" && svn up) || :
fi

NADOKA_PROGRAM="$WC_DIR/nadoka/nadoka.rb"
NADOKA_RC="$NADOKA_HOME/{{ item }}.rc"
if [ -d "$HOME/.anyenv" ]; then
  export PATH="$HOME/.anyenv/bin:$PATH"
  eval "$(anyenv init - --no-rehash)"
fi
if [ -d "$HOME/.rbenv" ]; then
  export PATH="$HOME/.rbenv/bin:$PATH"
  eval "$(rbenv init - --no-rehash)"
fi

OOM_ADJ=oom_adj
if [ -f /proc/$$/oom_score_adj ]; then
    OOM_ADJ=oom_score_adj
fi
echo 11 > "/proc/$$/$OOM_ADJ"

cd "/tmp"
exec ruby -vd "$NADOKA_PROGRAM" --rc "$NADOKA_RC"
